.selected-folder-zone {
    -fx-background-color: #C2C2C2;
}

.pair-dvd {
    -fx-background-color: white;
}

.impair-dvd {
    -fx-background-color: #C2C2C2;
}

.dvd-type-tab {
    -fx-font-size: 18px;
    -fx-min-height: 35px;
    -fx-pref-height: 35px;
    -fx-max-height: 35px;
    -fx-min-width: 65px;
    -fx-pref-width: 65px;
    -fx-max-width: 65px;
    -fx-focus-color: transparent;
}

.no-header .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}